player-connection-mode=Listen
player-connection-guid=1900487397
player-connection-debug=0
player-connection-project-name=Random_hero_8
player-connection-ip=192.168.0.8
player-connection-ip=192.168.57.1
player-connection-ip=192.168.47.1
player-connection-ip=10.8.1.4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8f409b028fde4b619eacd00081ce79f9
